<!DOCTYPE html>
<html lang="en">

<div id="navbar">
    <ul>
        <div id="logo">
        <img src="{{imageSrc}}" align="right" width="220" height="55" alt="{{imageAlt}}" />
        </div>
        <li><a href="profile.component.html">HOME</a> &nbsp;</li>
        <li><a href="profile.component.html">PROFILE</a> &nbsp;</li>
        <li><a href="career.html">WORKOUTS</a> &nbsp;</li>
        <li><a href="school.html">CALENDAR</a> &nbsp;</li>
        <li><a href="projects.html">NUTRITION</a> &nbsp;</li>
    </ul>
</div>

<app-profile></app-profile>

<div id="footer">
    <footer align="center">
        Copyright &copy; 2022 1Pound
    </footer>
</div>

<router-outlet></router-outlet>