<!DOCTYPE html>
<html lang="en">

<div id="navbar">
    <ul class="nav navbar-nav" routerLinkActive="active">
        <div id="logo">
            <img src="{{imageSrc}}" align="right" width="215" height="55" alt="{{imageAlt}}" />
        </div>
        <li class="nav-item"><a class="nav-link" routerLink="/home">HOME</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/profile">PROFILE</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/listWorkouts">WORKOUTS</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/listCalendars">CALENDAR</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/listNutritionn">NUTRITION</a></li>
    </ul>
</div>

<router-outlet></router-outlet>

<div id="footer">
    <footer>
        Copyright &copy; 2022 1Pound
    </footer>
</div>