<br>
<h1>Nutrition</h1>
<h3>Add New Entry</h3>
<div id="nutritionForm">
    <label for="date">Date: </label>
    <input id="date" type="date" class="form-control" formControlName="date">
    <br><br>
    <label for="meal">Meal: </label>

    <select name="meal" ng-model="clientMeal">
        <option value="">--Select Meal--</option>
        <option value="1">Breakfast</option>
        <option value="2">Lunch</option>
        <option value="3">Dinner</option>
        <option value="4">Snack</option>
    </select>

    <br><br>
    <label for="food-intake">Food Intake: </label>
    <input id="food-intake" type="text" class="form-control" formControlName="foodIntake" required
        placeholder="Enter a food item">
    &nbsp;
    <label for="calories">Calories: </label>
    <input id="calories" type="text" class="form-control" formControlName="calories">
    <br><br>

    <button type="submit" [disabled]="!nutritionForm.valid">Submit</button>
</div>
