<!DOCTYPE html>
<html lang="en">
<header>
    <link rel="icon" href="1pound-logo.jpg" type="image/jpg">
</header>
        <nav>
            <a href="about.html">ABOUT ME</a> &nbsp;
            <a href="career.html">CAREER</a> &nbsp;
            <a href="school.html">EDUCATION</a> &nbsp;
            <a href="projects.html">PROJECTS</a> &nbsp;
        </nav>

<h1>Edit Profile</h1>
<h3>Update Login Information</h3>
<div id="profileForm">
<label for="userName">User Name: </label>
<input id="userName" type="text" formControlName="userName">
<br>
<br>

<label for="userPassword">Password: </label>
<input id="userPassword" type="text" formControlName="userPassword">
<br>
<br>

<label for="userEmail">Email: </label>
<input id="userEmail" type="email" formControlName="userEmail">
<br>
<br>

<h3>Update Address</h3>
<label for="userStreet">Street: </label>
<input id="userStreet" type="text" formControlName="userStreet">
<br>
<br>
<label for="userCity">City: </label>
<input id="userCity" type="text" formControlName="userCity">
<br>
<br>
<label for="userState">State: </label>
<input id="userState" type="text" formControlName="userState">
<br>
<br>
<label for="userZip">Zip Code: </label>
<input id="userZip" type="text" formControlName="userZip">
<br>
<br>

<p>Update the desired fields</p>
<br>

<button type="submit" [disabled]="!profileForm.valid">Submit</button>
<br>
<br>
</div>