<!DOCTYPE html>
<html lang="en">

<br>
<h1>Home Page</h1>
<br>

<img src="{{imageSrc}}" class="center" width="700" height="500" alt="{{imageAlt}}" />

<div id="homePage">
    <p>Thanks for using 1Pound! We promise to help you reach your fitness goals one pound at a time!
        We know starting out can be tough, but we're here to make it easier by providing you with the things you
        need to succeed. Check out our resources and make sure you tell your friends about us, too!
    </p>
</div>