<br>
<h1>Add New Workout</h1>

<div id="workoutForm">
    <br>
    <select>
        <option>Select Muscle Group</option>
        <option>Arms</option>
        <option>Chest</option>
        <option>Shoulders</option>
        <option>Back</option>
        <option>Abs</option>
        <option>Legs</option>
    </select>
    <br>
    <br>
    <select>
        <option>Reps</option>
        <option>1</option>
        <option>2</option>
        <option>3</option>
        <option>4</option>
        <option>5</option>
        <option>6</option>
        <option>7</option>
        <option>8</option>
        <option>9</option>
    </select>
    <br>
    <br>
    <button>Submit</button>

</div>